2_docker_sql/
tools_tips_tricks_books/yt_subs
tools_tips_tricks_books/articles
tools_tips_tricks_books/slack-dump_de-course-aws

2_workflow-orchestration/old_2_docker_sql
2_workflow-orchestration/old_mage-zoomcamp

project_TF_Kestra_Athena_dbt/*/
